.equipment-filter {
  display: inline-block;

  button {
    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }

    &.filter-active {
      background-color: rgba(144, 202, 249, 0.15);
      border-color: #90caf9;
      color: #90caf9;
    }
  }
}
