<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <a class="app-title" routerLink="/recipes">RecipeVault</a>
    
    <span class="spacer"></span>
    
    @if (isAuthenticated()) {
      <button mat-button routerLink="/recipes">
        <mat-icon>restaurant_menu</mat-icon>
        Recipes
      </button>
      <button mat-button routerLink="/circles">
        <mat-icon>group</mat-icon>
        Circles
      </button>
      <button mat-button routerLink="/dietary-profiles">
        <mat-icon>person</mat-icon>
        Dietary Profiles
      </button>
      <button mat-button routerLink="/meal-plans">
        <mat-icon>calendar_month</mat-icon>
        Meal Plans
      </button>
      <button mat-button routerLink="/cooking-history">
        <mat-icon>history</mat-icon>
        Cooking Log
      </button>
      <button mat-button routerLink="/cooking-stats">
        <mat-icon>bar_chart</mat-icon>
        Stats
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>{{ userEmail() }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    }
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Bug report button (only shown when Sentry is enabled) -->
  <app-feedback-button></app-feedback-button>
</div>
