<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <span class="app-title">RecipeVault</span>
    
    <span class="spacer"></span>
    
    @if (isAuthenticated()) {
      <button mat-button routerLink="/recipes">
        <mat-icon>restaurant_menu</mat-icon>
        Recipes
      </button>
      
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>{{ userEmail() }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    }
  </mat-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
