.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .app-title {
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-decoration: none;

    &:visited, &:hover, &:active {
      color: white;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-left: 8px;

    mat-icon {
      margin-right: 4px;
    }
  }
}

.app-content {
  flex: 1;
  overflow-y: auto;
  background-color: #1e293b;
}
